<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimeStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnimeStorage.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="StyleTheme" serializeAs="String">
                <value>Mild Blue</value>
            </setting>
            <setting name="StyleListForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StyleListBackColor" serializeAs="String">
                <value>51, 51, 51</value>
            </setting>
            <setting name="StyleListSelectedForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StyleListSelectedBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LayoutHorizontal" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LayoutVertical" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 500</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AL_PictureWidth" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="AL_RowHeight" serializeAs="String">
                <value>64</value>
            </setting>
        </AnimeStorage.Properties.Settings>
    </userSettings>
</configuration>